
@model Employee


@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>

<partial name="EmployeePartialView/_DeleteDetailsPartialView" />
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>


